.active {
    z-index:99;
}

img {
    width: 100%:
}


#slider {
    position: relative;
    height: 200px;
    width: 700px;
    margin: auto;
    list-style: none;
    overflow: hidden;
}
#slider ul li {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
}

#dotButtons {
    text-align:center;
    margin-top: 100px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Next & previous buttons */
.prev, .next {
 ;



  /*border-radius: 0 3px 3px 0;
  user-select: none;*/
}

.prev {
    float:left;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-left: 200px;
}
.next {

    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-left: 1100px;
}
